<header>
  <div><%= image_tag 'apothecary_logo.png' %></div>
  Kind Welcome to The Apothecary
</header>

<nav>
  <div>Find an Herb</div>
  <div>Find a Dis-Ease</div>
  <div>Find a Preparation</div>
  <div>Find Seasonal Foraging</div>
</nav>

<div class="content">
  content here, yo
</div>

<footer>
  feeeeeets
</footer>
